<h3>Create a list</h3>
<br>
<% if @lists.any?() %>
  <ul>
    <% @lists.each do |list| %>
      <a href="/list/<%= list.id %>"><li><%= list.name %></li></a>
    <% end %>
  </ul>
<%else%>
  <p>
  There are no lists yet! Make one below.
  </p>
<%end%>
<br>
<form action="/new_list" method="post">
  <input class="form-control" type="text" name="list_name" placeholder="Name your list" required>
  <button class="btn btn-default" type="submit" name="button">Create</button>
</form>
<hr>
<a href="/list_delete"><button class="btn btn-danger" name="button">Delete a list</button></a>
