<h3>Here are all your tasks:</h3>
<br>
<% if @tasks.any?() %>
  <ul>
    <% @tasks.each() do |task| %>
      <li><%="#{task.description}, Due: #{task.due_date}"%></li>
    <% end %>
  </ul>
<% else %>
  <p>
    <em>There are currently no tasks</em>
  </p>
<%end%>
<br>
<hr>
<form action="/new_task" method="post">
  <h4>Add a task: </h4>
  <input class="form-control" id="description" name="description" placeholder="Enter a task description" type="text" required>
  <input class="form-control" id="due_date" name="due_date" type="date" required>

  <button class="btn btn-default" type="submit">Add task</button>
</form>
<br>
<hr>
<a href="/">Return Home</a>
