<h3>Select the list you want to delete</h3>

<ul>
  <% @lists.each do |list| %>
    <a href="/delete/<%= list.id %>"><li><%= list.name %></li></a>
  <% end %>
</ul>
<br>
<hr>
<a href="/">Return Home</a>
